@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Kurale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&family=Kaushan+Script&family=Kurale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body,
html {
  width: 100%;
  height: 100vh;
}
body {
  background-color: rgba(124, 80, 75, 0.863);
  font-family: "Poppins", sans-serif;
  /* position: absolute; */
}
header {
  height: 13vh;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
}
.headerElements {
  display: flex;
  text-decoration: none;
}
.headerElements a {
  text-decoration: none;
  color: inherit;
  margin: 0px 20px;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
}
.logo a img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: -430px;
  margin-top: 8px;
}
.contactContainer {
  width: 50%;
  height: 550px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: rgba(24, 19, 16, 0.774);
  border-radius: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  overflow: hidden;
}
.contactContainer form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
input {
  border-radius: 6px;
  width: 50%;
}
.contactContainer form div {
  padding-bottom: 15px;
  border: none;
  outline: none;
  height: 50px;
}
.submitMessage {
  background-color: rgb(141, 141, 46);
  text-align: center;
  width: 200px;
  height: 40px;
  bottom: 0;
  outline: none;
  border: none;
  border-radius: 25px;
  font-weight: bolder;
}
.message {
  width: 330px;
  height: 200px;
  overflow: hidden;
  text-align: justify;
  padding: 12px;
}
button {
  margin-top: 180px;
  overflow: hidden;
}
.footer {
  width: 100%;
  height: 30vh;
  background-color: #111;
  color: #fff;
  font-family: "Poppins";
}
.footer p {
  text-align: center;
  padding-top: 40px;
}
.footer img {
  margin-left: 80px;
  margin-top: 50px;
  border-radius: 20px;
  object-position: center;
}
.footer .socialIcons {
  margin-top: -90px;
  margin-left: 500px;
  font-size: 40px;
}

.footer .socialIcons a {
  padding-left: 15px;
}
.footer .socialIcons a:hover {
  transform: scale(1.5);
  transition: all ease 1s linear;
}
